.register-card{
    width:300px;
    margin:auto;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding:30px 20px;
    color:whitesmoke;
    font-family: 'Montserrat', sans-serif;
    background-color: #2b4f60;
    p{
        padding:20px 0;
        text-align: center;
    }
}
.register-header{
    padding:30px 0px;
    text-align: center;
    background: #00B4DB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    clip-path:polygon(0 0,100% 0,100% 70%,80% 100%,20% 100%,0 70%);
    
    border-radius: 10px;
}
.register-form{
    width:250px;
    margin:0 auto;
    background-color: white;
    padding:10px 15px;
    border-radius: 30px;
}

  .btns-register{
      display: flex;
      flex-direction: column;
      padding:20px 10px;
      justify-content: space-between;
      height:50px;
  }