.header-container{
    background-color: #2b4f60 ;
}
.navigation{
    background-color: #2b4f60;
    margin-top:auto;
   
}.right-menu{
    display:flex;
    justify-content: space-between;

    a{
        width:100px;
    }
}
.brand{
    margin-left:10px;
    letter-spacing: 1px;
}
.text{
    color:#fff;
    margin:auto;
    height:100%;
    width:100%;
    box-sizing: border-box;
    padding: 8px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;

    @media screen and (max-width:700px) {
        margin-left: 0;
        margin-right:auto;
        
    }
}